*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212529;
    color: #ADB5BD;
    font-family: 'Ubuntu Mono', monospace;
}

.outer{
    border: solid #f5f5dc 0.15rem;
    border-radius: 1rem;
    padding: 0rem 0.5rem;
}

.heading{
    text-align: center;
    text-decoration: underline;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-family: 'Inconsolata', monospace;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.sub{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.text{
    margin-bottom: 0.5rem;
    padding-left: 0.3rem;
}

.calcParent{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.resParent{
    text-align: center;
}

#res{
    margin: 1.3rem 0rem 0.8rem 0rem;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
    display: none;
    border: dashed #3ceaa4 0.13rem;
    color: #ffffff;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    border-top-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}