* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #212529;
  color: #adb5bd;
  font-family: "Ubuntu Mono", monospace;
}

.outer {
  border: solid #f5f5dc 0.15rem;
  border-radius: 1rem;
  padding: 0rem 0.5rem;
  /* animation: rgb 4s linear 0s infinite; */
}

@keyframes rgb {
  100%,
  0% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(255, 0, 0);
  }
  8% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(255, 127, 0);
  }
  16% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(255, 255, 0);
  }
  25% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(127, 255, 0);
  }
  33% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(0, 255, 0);
  }
  41% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(0, 255, 127);
  }
  50% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(0, 255, 255);
  }
  58% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(0, 127, 255);
  }
  66% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(0, 0, 255);
  }
  75% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(127, 0, 255);
  }
  83% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(255, 0, 255);
  }
  91% {
    box-shadow: 0rem 0rem 0.3rem 0.08rem rgb(255, 0, 127);
  }
}

.heading {
  text-align: center;
  text-decoration: underline;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-family: "Inconsolata", monospace;
  color: #ffffff;
  font-size: 1.2rem;
  text-shadow: 0.09rem 0.09rem 0.1rem #aaa6aae3;
}

.sub {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

.text {
  margin-bottom: 0.5rem;
  padding-left: 0.3rem;
  font-size: 1.18rem;
}

.calcParent {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#resParent {
  width: 18rem;
  max-width: 100vw;
  /* z-index: 2; */
  background-color: #212529;
  border-radius: 1rem;
  display: none;
  /* border: 0.1rem solid rgb(255, 0, 0); */
  box-shadow: 0.2rem -0.2rem 1.8px rgb(255, 0, 0);
  animation: rgb 7s linear 0s infinite, pop 70ms linear 0s 1;
}

@keyframes pop {
  from{
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}

#overlay{
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.card-body {
  background-color: #212529;
  color: #ffffff;
  border-radius: 1rem;
}

.ok {
  padding-left: 2rem;
  padding-right: 2rem;
}

#bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: filter 70ms;
}

#res {
  margin-bottom: 0;
}

.noScroll {
  height: 100%;
  overflow: hidden;
}

.star {
  font-size: 0.8rem;
}
